 <!-- Slider Area Start-->
 <div class="slider-area slider-bg " id="hero" >
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-7 col-md-9">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".3s">Best AI Interview Trainer</span>
                            <h1 data-animation="fadeInLeft" data-delay=".6s "><span style="font-size: 49.3px; color:white">Powerful Interview Simulation</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".8s">Prepare for your interview with cutting-edge tools: gain insightful performance analytics, receive tailored feedback, access professional advice, and track your progress—all designed to help you succeed.</p>
                            <!-- Slider btn -->
                            <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay="1s" class="btn radius-btn"  routerLink="/signup" routerLinkActive="active">get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="hero__img d-none d-lg-block f-right"  style="margin-left: 900px;">
                            <!-- <img src="assets/Homepage/img/hero/robot.png" alt="" data-animation="fadeInRight" data-delay="1s"
                            style="width: 400px; height: auto;"> -->
                            <ng-lottie 
                            [options]="options" 
                            width="600px" 
                            height="900px"
                            data-animation="fadeInRight" 
                            data-delay="1s">
                        </ng-lottie>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>      
           
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="assets/Homepage/img/hero/top-left-shape.png" alt="">
    </div>
</div>
<!-- Slider Area End -->
