 <!-- ask questions -->
 <section class="ask-questions section-bg1 section-padding30 fix" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90">
                    <h2>Frequently ask questions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>How does the AI Interview Trainer simulate real interviews?</h2>
                        <p>Our platform uses advanced AI algorithms to replicate recruiter behavior, providing realistic and interactive interview simulations tailored to various roles and industries.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Can I prepare for technical and behavioral interviews with this tool?</h2>
                        <p>Yes, our AI Interview Trainer covers a wide range of interview types, including technical, behavioral, and situational questions, ensuring comprehensive preparation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Does the tool provide feedback on my performance?</h2>
                        <p>Absolutely! Our AI offers detailed, actionable feedback to help you refine your answers and improve your overall performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Is my data safe on the platform?</h2>
                        <p>We are committed to the security and privacy of our users. Your personal information and performance data are securely protected at all times.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 ">
                <div class="more-btn text-center mt-20">
                    <a routerLink="/contact" routerLinkActive="active" class="btn">Go to Support</a>
                </div>                  
            </div>
        </div>
    </div>
</section>
<!-- End ask questions -->
