<main>
    <div class="head-title">
        <div class="left">
            <h1>{{welcomeMessage}}</h1>
            <!-- <h1>Dashbord</h1> -->
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashbord</a>
                </li>
                <li><i class="bx bx-chevron-right"></i></li>
                <li>
                    <a class="active" href="#">Acceuil</a>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="flex justify-center items-center gap-32">
        <img src="../../../../assets/Dashboard/robot.png"  alt="" width="400" height="auto">
        <div class="card">
            <div class="head">Welcome</div>
            <div class="content">
              Welcome to your personal AI interview trainor . Don't miss out your chance to ace your next interview.
              <br />
              <button class="button">Trust the process</button>
            </div>
          </div>
    </div>


</main>
